.card {
	&__btnFavorite {
		@apply absolute top-[40px] right-[40px];
		&:hover {
			svg {
				transition: all 0.3s ease-in;
				fill: red;
			}
		}
		&Active {
			@apply absolute top-[40px] right-[40px];
			svg {
				fill: red;
			}
		}
	}
	&__btnCart {
		@apply w-full h-[50px] p-[5px] text-[15px] rounded-[30px] font-bold bg-black text-[orange];
		transform: translateY(2px);
		transition: all 0.5s ease-in;
		&:hover {
			@apply bg-[#444444];
			transition: all 0.5s ease-in;
			transform: translateY(-2px);
		}
		&Clicked {
			@apply w-full h-[50px] p-[5px] text-[15px] rounded-[30px] font-bold bg-[black] opacity-60 text-[orange];
			color: orange;
			transform: translateY(2px);
			transition: all 0.5s ease-in;
			&:hover {
				@apply opacity-100;
				transform: translateY(-2px);
				transition: all 0.5s ease-in;
			}
		}
	}

	&:hover {
		transition: all 0.1s ease-in-out;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
		button {
			display: block;
		}
	}
	&__price {
		@apply flex justify-between;
		&Sale {
			@apply relative;
			&::before {
				@apply absolute top-[50%] w-[50px] h-[2px] bg-orange-text;
				content: '';
			}
		}
	}
}
