.favorites {
	position: relative;
	svg {
		fill: #838383;
		&:hover {
			cursor: pointer;
			transition: 0.5s ease-in-out;
			fill: orange;
		}
	}
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -15px;
	right: -15px;
	width: 25px;
	height: 25px;
	padding: 13px;
	border-radius: 50%;
	background-color: orange;
	font-size: 12px;
	font-weight: 500;
	color: #ffffff;
}
